USE [FU-Dev]
GO
/****** Object:  Table [dbo].[Conatct_Master]    Script Date: 08-Nov-16 5:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conatct_Master](
	[Contact_Id] [int] NOT NULL,
	[Contact_name] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXPERTISE_AREA_MASTER]    Script Date: 08-Nov-16 5:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXPERTISE_AREA_MASTER](
	[ID] [tinyint] NOT NULL,
	[EXPERTISE_NAME] [varchar](30) NULL,
 CONSTRAINT [EXPERTISE_AREA_MASTER_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORGOT_PWD]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORGOT_PWD](
	[USER_ID] [bigint] NOT NULL,
	[LINK_ID] [uniqueidentifier] NOT NULL,
	[IS_LINK_ACTIVE] [bit] NULL,
 CONSTRAINT [FORGOT_PWD_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[LINK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FRIENDS_REQUESTS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRIENDS_REQUESTS](
	[SENTBY_USER_ID] [bigint] NOT NULL,
	[RECEIVEDBY_USER_ID] [bigint] NOT NULL,
	[REQUEST_STATUS] [tinyint] NULL,
	[REQUEST_SEEN] [int] NOT NULL,
	[REQ_SENT_DATE] [date] NULL,
 CONSTRAINT [FRIENDS_REQUESTS_PK] PRIMARY KEY CLUSTERED 
(
	[RECEIVEDBY_USER_ID] ASC,
	[SENTBY_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MOODS_MASTER]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MOODS_MASTER](
	[ID] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MOODS_DESCRIPTION] [varchar](15) NULL,
	[MOODS_IMG_URL] [varchar](150) NULL,
 CONSTRAINT [MOODS_MASTER_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POST_VIEW_OPTION]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POST_VIEW_OPTION](
	[POSTVIEW_OPTION_ID] [tinyint] NOT NULL,
	[POSTVIEW_OPTION_DESCR] [varchar](100) NULL,
 CONSTRAINT [POST_VIEW_OPTION_PK] PRIMARY KEY CLUSTERED 
(
	[POSTVIEW_OPTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REMOVE_POST]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMOVE_POST](
	[REMOVE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[POST_USER_ID] [bigint] NULL,
 CONSTRAINT [REMOVE_POST_PK] PRIMARY KEY CLUSTERED 
(
	[REMOVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE_MASTER]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE_MASTER](
	[ROLE_ID] [tinyint] NOT NULL,
	[ROLE_NAME] [varchar](30) NULL,
 CONSTRAINT [ROLE_MASTER_PK] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHARE_POST]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARE_POST](
	[SHARE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NULL,
	[POST_ID] [bigint] NULL,
	[POST_USER_ID] [bigint] NULL,
 CONSTRAINT [SHARE_POST_PK] PRIMARY KEY CLUSTERED 
(
	[SHARE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIGNUP_INFO]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIGNUP_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SIGNUP_NAME] [varchar](100) NULL,
	[SIGNUP_EMAIL] [varchar](100) NULL,
 CONSTRAINT [SIGNUP_INFO_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAGS_MASTER]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAGS_MASTER](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TAG_KEYWORD] [varchar](30) NULL,
 CONSTRAINT [TAGS_MASTER_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_CHATS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_CHATS](
	[FROM_USER_ID] [bigint] NOT NULL,
	[TO_USER_ID] [bigint] NOT NULL,
	[CHAT_DATE] [datetime] NOT NULL,
	[IS_SEEN] [bit] NULL,
	[CHAT_MESSAGE] [varchar](max) NULL,
 CONSTRAINT [PK_USER_CHATS] PRIMARY KEY CLUSTERED 
(
	[FROM_USER_ID] ASC,
	[TO_USER_ID] ASC,
	[CHAT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_EMAILS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_EMAILS](
	[EMAILIDNUMBER] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FROM_USER_ID] [bigint] NOT NULL,
	[TO_USER_ID] [bigint] NOT NULL,
	[EMAIL_SUBJECT] [varchar](300) NULL,
	[EMAIL_DATE] [datetime] NULL,
	[EMAIL_BODY] [varchar](max) NULL,
	[IS_SEEN] [int] NOT NULL,
	[PARENTEMAILIDNUMBER] [bigint] NULL,
 CONSTRAINT [USER_EMAILS_PK] PRIMARY KEY CLUSTERED 
(
	[EMAILIDNUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_EXPERTISE]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_EXPERTISE](
	[USER_ID] [bigint] NOT NULL,
	[EXPERTISE_AREA_ID] [tinyint] NOT NULL,
 CONSTRAINT [USER_EXPERTISE_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[EXPERTISE_AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_FOLLOWERS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_FOLLOWERS](
	[USER_ID] [bigint] NOT NULL,
	[FOLLOWER_USER_ID] [bigint] NOT NULL,
	[DELETE_FLAG] [bit] NULL,
 CONSTRAINT [USER_FOLLOWERS_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[FOLLOWER_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_MOOD_FORDAY]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_MOOD_FORDAY](
	[USER_ID] [bigint] NOT NULL,
	[MOOD] [int] NULL,
	[MOOD_DATE] [date] NOT NULL,
 CONSTRAINT [USER_MOOD_FORDAY_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_POST_EXPERTISE]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_POST_EXPERTISE](
	[USER_POSTS_USER_ID] [bigint] NOT NULL,
	[USER_POSTS_POST_ID] [bigint] NOT NULL,
	[EXPERTISE_AREA_ID] [tinyint] NOT NULL,
 CONSTRAINT [USER_POST_EXPERTISE_PK] PRIMARY KEY CLUSTERED 
(
	[USER_POSTS_USER_ID] ASC,
	[USER_POSTS_POST_ID] ASC,
	[EXPERTISE_AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_POST_MOODS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_POST_MOODS](
	[USER_POSTS_USER_ID] [bigint] NOT NULL,
	[USER_POSTS_POST_ID] [bigint] NOT NULL,
	[MOODS_ID] [tinyint] NOT NULL,
 CONSTRAINT [USER_POST_MOODS_PK] PRIMARY KEY CLUSTERED 
(
	[USER_POSTS_USER_ID] ASC,
	[USER_POSTS_POST_ID] ASC,
	[MOODS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_POSTS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_POSTS](
	[USER_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[POST_DATE] [datetime] NULL,
	[POST_VIDEO_URL] [varchar](200) NULL,
	[POST_PHOTO_URL] [varchar](200) NULL,
	[POST_HEADLINE_1] [varchar](400) NULL,
	[POST_HEADLINE_2] [varchar](max) NULL,
	[POST_WEBSITE_LINK] [varchar](300) NULL,
	[POST_VIEW_OPTION_POSTVIEW_OPTION_ID] [tinyint] NOT NULL,
	[POST_HAS_PHOTO] [bit] NOT NULL,
	[POST_HAS_VIDEO] [bit] NOT NULL,
	[POST_IS_PUBLISH] [bit] NOT NULL,
	[POST_CONTAINT] [varchar](max) NULL,
 CONSTRAINT [USER_POSTS_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_POSTS_COMMENTS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_POSTS_COMMENTS](
	[COMMENTS_ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[COMMENTS_USER_ID] [bigint] NOT NULL,
	[COMMENTS_TEXT] [varchar](300) NULL,
	[COMMENT_DATE_TIME] [datetime] NULL,
 CONSTRAINT [USER_POSTS_COMMENTS_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[POST_ID] ASC,
	[COMMENTS_USER_ID] ASC,
	[COMMENTS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_POSTS_DISLIKE]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_POSTS_DISLIKE](
	[USER_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[DISLIKE_USER_ID] [bigint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_POSTS_LIKE]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_POSTS_LIKE](
	[USER_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[LIKE_USER_ID] [bigint] NOT NULL,
 CONSTRAINT [USER_POSTS_LIKE_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[POST_ID] ASC,
	[LIKE_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_POSTS_TAGS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_POSTS_TAGS](
	[USER_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[TAGS_ID] [bigint] NOT NULL,
 CONSTRAINT [USER_POSTS_TAGS_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[POST_ID] ASC,
	[TAGS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_PROFILE](
	[USER_ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SIGNUP_ID] [bigint] NULL,
	[USERTYPE_ID] [tinyint] NOT NULL,
	[ROLE_ID] [tinyint] NOT NULL,
	[USER_NAME] [varchar](15) NULL,
	[USER_PWD] [varchar](50) NULL,
	[PROFILE_PHOTO] [varchar](300) NULL,
	[FIRST_NAME] [varchar](30) NULL,
	[LAST_NAME] [varchar](30) NULL,
	[USER_TITLE] [varchar](30) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[CAR_IND_TYPE] [varchar](100) NULL,
	[JOB_TITLE] [varchar](50) NULL,
	[COMPANY_NAME] [varchar](100) NULL,
	[USER_BIO] [varchar](1000) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[DELETE_FLAG] [bit] NULL,
	[USER_COVER_PHOTO] [varchar](300) NULL,
	[ORGANIZATION_NAME] [varchar](50) NULL,
 CONSTRAINT [USER_INFO_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_RELATIONSHIP]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_RELATIONSHIP](
	[SENDER_ID] [bigint] NOT NULL,
	[RECEVIER_ID] [bigint] NOT NULL,
	[RELATIONSHIP_ID] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_SUGGESTION_REMOVE]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_SUGGESTION_REMOVE](
	[USER_ID] [bigint] NOT NULL,
	[REMOVE_USER_ID] [bigint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_TAGS]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TAGS](
	[USER_ID] [bigint] NOT NULL,
	[TAGS_ID] [bigint] NOT NULL,
 CONSTRAINT [USER_TAGS_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[TAGS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_TYPE]    Script Date: 08-Nov-16 5:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_TYPE](
	[ID] [tinyint] NOT NULL,
	[USERTYPE_NAME] [varchar](20) NULL,
 CONSTRAINT [USER_TYPE_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FORGOT_PWD] ADD  DEFAULT (newid()) FOR [LINK_ID]
GO
ALTER TABLE [dbo].[FRIENDS_REQUESTS] ADD  CONSTRAINT [DF_FRIENDS_REQUESTS_REQUEST_SEEN]  DEFAULT ((0)) FOR [REQUEST_SEEN]
GO
ALTER TABLE [dbo].[USER_EMAILS] ADD  CONSTRAINT [DF_USER_EMAILS_IS_SEEN]  DEFAULT ((0)) FOR [IS_SEEN]
GO
ALTER TABLE [dbo].[USER_FOLLOWERS] ADD  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[USER_POSTS] ADD  CONSTRAINT [DF_USER_POSTS_POST_HAS_PHOTO]  DEFAULT ((0)) FOR [POST_HAS_PHOTO]
GO
ALTER TABLE [dbo].[USER_POSTS] ADD  CONSTRAINT [DF_USER_POSTS_POST_HAS_VIDEO]  DEFAULT ((0)) FOR [POST_HAS_VIDEO]
GO
ALTER TABLE [dbo].[USER_POSTS] ADD  CONSTRAINT [DF_USER_POSTS_POST_IS_PUBLISH]  DEFAULT ((0)) FOR [POST_IS_PUBLISH]
GO
ALTER TABLE [dbo].[USER_PROFILE] ADD  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[FORGOT_PWD]  WITH CHECK ADD  CONSTRAINT [FORGOT_PWD_USER_PROFILE_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[FORGOT_PWD] CHECK CONSTRAINT [FORGOT_PWD_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[FRIENDS_REQUESTS]  WITH CHECK ADD  CONSTRAINT [FRIENDS_REQUESTS_USER_PROFILE_FK] FOREIGN KEY([SENTBY_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[FRIENDS_REQUESTS] CHECK CONSTRAINT [FRIENDS_REQUESTS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[FRIENDS_REQUESTS]  WITH CHECK ADD  CONSTRAINT [FRIENDS_REQUESTS_USER_PROFILE_FKv1] FOREIGN KEY([RECEIVEDBY_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[FRIENDS_REQUESTS] CHECK CONSTRAINT [FRIENDS_REQUESTS_USER_PROFILE_FKv1]
GO
ALTER TABLE [dbo].[REMOVE_POST]  WITH CHECK ADD  CONSTRAINT [REMOVE_POST_USER_POSTS_FK] FOREIGN KEY([POST_USER_ID], [POST_ID])
REFERENCES [dbo].[USER_POSTS] ([USER_ID], [POST_ID])
GO
ALTER TABLE [dbo].[REMOVE_POST] CHECK CONSTRAINT [REMOVE_POST_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[REMOVE_POST]  WITH CHECK ADD  CONSTRAINT [REMOVE_POST_USER_PROFILE_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[REMOVE_POST] CHECK CONSTRAINT [REMOVE_POST_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[SHARE_POST]  WITH CHECK ADD  CONSTRAINT [SHARE_POST_USER_POSTS_FK] FOREIGN KEY([POST_USER_ID], [POST_ID])
REFERENCES [dbo].[USER_POSTS] ([USER_ID], [POST_ID])
GO
ALTER TABLE [dbo].[SHARE_POST] CHECK CONSTRAINT [SHARE_POST_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[SHARE_POST]  WITH CHECK ADD  CONSTRAINT [SHARE_POST_USER_PROFILE_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[SHARE_POST] CHECK CONSTRAINT [SHARE_POST_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_CHATS]  WITH CHECK ADD  CONSTRAINT [USER_CHATS_USER_PROFILE_FK] FOREIGN KEY([FROM_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_CHATS] CHECK CONSTRAINT [USER_CHATS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_CHATS]  WITH CHECK ADD  CONSTRAINT [USER_CHATS_USER_PROFILE_FKv1] FOREIGN KEY([TO_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_CHATS] CHECK CONSTRAINT [USER_CHATS_USER_PROFILE_FKv1]
GO
ALTER TABLE [dbo].[USER_EMAILS]  WITH CHECK ADD  CONSTRAINT [USER_EMAILS_USER_EMAILS_FK] FOREIGN KEY([PARENTEMAILIDNUMBER])
REFERENCES [dbo].[USER_EMAILS] ([EMAILIDNUMBER])
GO
ALTER TABLE [dbo].[USER_EMAILS] CHECK CONSTRAINT [USER_EMAILS_USER_EMAILS_FK]
GO
ALTER TABLE [dbo].[USER_EMAILS]  WITH CHECK ADD  CONSTRAINT [USER_EMAILS_USER_PROFILE_FK] FOREIGN KEY([FROM_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_EMAILS] CHECK CONSTRAINT [USER_EMAILS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_EMAILS]  WITH CHECK ADD  CONSTRAINT [USER_EMAILS_USER_PROFILE_FKv1] FOREIGN KEY([TO_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_EMAILS] CHECK CONSTRAINT [USER_EMAILS_USER_PROFILE_FKv1]
GO
ALTER TABLE [dbo].[USER_EXPERTISE]  WITH CHECK ADD  CONSTRAINT [USER_EXPERTISE_EXPERTISE_AREA_MASTER_FK] FOREIGN KEY([EXPERTISE_AREA_ID])
REFERENCES [dbo].[EXPERTISE_AREA_MASTER] ([ID])
GO
ALTER TABLE [dbo].[USER_EXPERTISE] CHECK CONSTRAINT [USER_EXPERTISE_EXPERTISE_AREA_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_EXPERTISE]  WITH CHECK ADD  CONSTRAINT [USER_EXPERTISE_USER_PROFILE_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_EXPERTISE] CHECK CONSTRAINT [USER_EXPERTISE_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_FOLLOWERS]  WITH CHECK ADD  CONSTRAINT [USER_FOLLOWERS_USER_PROFILE_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_FOLLOWERS] CHECK CONSTRAINT [USER_FOLLOWERS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_FOLLOWERS]  WITH CHECK ADD  CONSTRAINT [USER_FOLLOWERS_USER_PROFILE_FKv1] FOREIGN KEY([FOLLOWER_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_FOLLOWERS] CHECK CONSTRAINT [USER_FOLLOWERS_USER_PROFILE_FKv1]
GO
ALTER TABLE [dbo].[USER_MOOD_FORDAY]  WITH CHECK ADD  CONSTRAINT [USER_MOOD_FORDAY_USER_PROFILE_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_MOOD_FORDAY] CHECK CONSTRAINT [USER_MOOD_FORDAY_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POST_EXPERTISE]  WITH CHECK ADD  CONSTRAINT [USER_POST_EXPERTISE_EXPERTISE_AREA_MASTER_FK] FOREIGN KEY([EXPERTISE_AREA_ID])
REFERENCES [dbo].[EXPERTISE_AREA_MASTER] ([ID])
GO
ALTER TABLE [dbo].[USER_POST_EXPERTISE] CHECK CONSTRAINT [USER_POST_EXPERTISE_EXPERTISE_AREA_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_POST_EXPERTISE]  WITH CHECK ADD  CONSTRAINT [USER_POST_EXPERTISE_USER_POSTS_FK] FOREIGN KEY([USER_POSTS_USER_ID], [USER_POSTS_POST_ID])
REFERENCES [dbo].[USER_POSTS] ([USER_ID], [POST_ID])
GO
ALTER TABLE [dbo].[USER_POST_EXPERTISE] CHECK CONSTRAINT [USER_POST_EXPERTISE_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POST_MOODS]  WITH CHECK ADD  CONSTRAINT [USER_POST_MOODS_MOODS_MASTER_FK] FOREIGN KEY([MOODS_ID])
REFERENCES [dbo].[MOODS_MASTER] ([ID])
GO
ALTER TABLE [dbo].[USER_POST_MOODS] CHECK CONSTRAINT [USER_POST_MOODS_MOODS_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_POST_MOODS]  WITH CHECK ADD  CONSTRAINT [USER_POST_MOODS_USER_POSTS_FK] FOREIGN KEY([USER_POSTS_USER_ID], [USER_POSTS_POST_ID])
REFERENCES [dbo].[USER_POSTS] ([USER_ID], [POST_ID])
GO
ALTER TABLE [dbo].[USER_POST_MOODS] CHECK CONSTRAINT [USER_POST_MOODS_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POSTS]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_POST_VIEW_OPTION_FK] FOREIGN KEY([POST_VIEW_OPTION_POSTVIEW_OPTION_ID])
REFERENCES [dbo].[POST_VIEW_OPTION] ([POSTVIEW_OPTION_ID])
GO
ALTER TABLE [dbo].[USER_POSTS] CHECK CONSTRAINT [USER_POSTS_POST_VIEW_OPTION_FK]
GO
ALTER TABLE [dbo].[USER_POSTS]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_USER_PROFILE_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_POSTS] CHECK CONSTRAINT [USER_POSTS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_COMMENTS]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_COMMENTS_USER_POSTS_FK] FOREIGN KEY([USER_ID], [POST_ID])
REFERENCES [dbo].[USER_POSTS] ([USER_ID], [POST_ID])
GO
ALTER TABLE [dbo].[USER_POSTS_COMMENTS] CHECK CONSTRAINT [USER_POSTS_COMMENTS_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_COMMENTS]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_COMMENTS_USER_PROFILE_FK] FOREIGN KEY([COMMENTS_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_POSTS_COMMENTS] CHECK CONSTRAINT [USER_POSTS_COMMENTS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_DISLIKE]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_DISLIKE_USER_POSTS_FK] FOREIGN KEY([USER_ID], [POST_ID])
REFERENCES [dbo].[USER_POSTS] ([USER_ID], [POST_ID])
GO
ALTER TABLE [dbo].[USER_POSTS_DISLIKE] CHECK CONSTRAINT [USER_POSTS_DISLIKE_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_DISLIKE]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_DISLIKE_USER_PROFILE_FK] FOREIGN KEY([DISLIKE_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_POSTS_DISLIKE] CHECK CONSTRAINT [USER_POSTS_DISLIKE_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_LIKE]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_LIKE_USER_POSTS_FK] FOREIGN KEY([USER_ID], [POST_ID])
REFERENCES [dbo].[USER_POSTS] ([USER_ID], [POST_ID])
GO
ALTER TABLE [dbo].[USER_POSTS_LIKE] CHECK CONSTRAINT [USER_POSTS_LIKE_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_LIKE]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_LIKE_USER_PROFILE_FK] FOREIGN KEY([LIKE_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_POSTS_LIKE] CHECK CONSTRAINT [USER_POSTS_LIKE_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_TAGS]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_TAGS_TAGS_MASTER_FK] FOREIGN KEY([TAGS_ID])
REFERENCES [dbo].[TAGS_MASTER] ([ID])
GO
ALTER TABLE [dbo].[USER_POSTS_TAGS] CHECK CONSTRAINT [USER_POSTS_TAGS_TAGS_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_TAGS]  WITH CHECK ADD  CONSTRAINT [USER_POSTS_TAGS_USER_POSTS_FK] FOREIGN KEY([USER_ID], [POST_ID])
REFERENCES [dbo].[USER_POSTS] ([USER_ID], [POST_ID])
GO
ALTER TABLE [dbo].[USER_POSTS_TAGS] CHECK CONSTRAINT [USER_POSTS_TAGS_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [USER_INFO_SIGNUP_INFO_FK] FOREIGN KEY([SIGNUP_ID])
REFERENCES [dbo].[SIGNUP_INFO] ([ID])
GO
ALTER TABLE [dbo].[USER_PROFILE] CHECK CONSTRAINT [USER_INFO_SIGNUP_INFO_FK]
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [USER_INFO_USER_TYPE_FK] FOREIGN KEY([USERTYPE_ID])
REFERENCES [dbo].[USER_TYPE] ([ID])
GO
ALTER TABLE [dbo].[USER_PROFILE] CHECK CONSTRAINT [USER_INFO_USER_TYPE_FK]
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [USER_PROFILE_ROLE_MASTER_FK] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE_MASTER] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_PROFILE] CHECK CONSTRAINT [USER_PROFILE_ROLE_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_TAGS]  WITH CHECK ADD  CONSTRAINT [USER_TAGS_TAGS_MASTER_FK] FOREIGN KEY([TAGS_ID])
REFERENCES [dbo].[TAGS_MASTER] ([ID])
GO
ALTER TABLE [dbo].[USER_TAGS] CHECK CONSTRAINT [USER_TAGS_TAGS_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_TAGS]  WITH CHECK ADD  CONSTRAINT [USER_TAGS_USER_PROFILE_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_TAGS] CHECK CONSTRAINT [USER_TAGS_USER_PROFILE_FK]
GO
