USE [FU-Dev]
GO
ALTER TABLE [dbo].[USER_TAGS] DROP CONSTRAINT [USER_TAGS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_TAGS] DROP CONSTRAINT [USER_TAGS_TAGS_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_PROFILE] DROP CONSTRAINT [USER_PROFILE_ROLE_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_PROFILE] DROP CONSTRAINT [USER_INFO_USER_TYPE_FK]
GO
ALTER TABLE [dbo].[USER_PROFILE] DROP CONSTRAINT [USER_INFO_SIGNUP_INFO_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_TAGS] DROP CONSTRAINT [USER_POSTS_TAGS_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_TAGS] DROP CONSTRAINT [USER_POSTS_TAGS_TAGS_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_LIKE] DROP CONSTRAINT [USER_POSTS_LIKE_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_LIKE] DROP CONSTRAINT [USER_POSTS_LIKE_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_DISLIKE] DROP CONSTRAINT [USER_POSTS_DISLIKE_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_DISLIKE] DROP CONSTRAINT [USER_POSTS_DISLIKE_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_COMMENTS] DROP CONSTRAINT [USER_POSTS_COMMENTS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POSTS_COMMENTS] DROP CONSTRAINT [USER_POSTS_COMMENTS_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POSTS] DROP CONSTRAINT [USER_POSTS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_POSTS] DROP CONSTRAINT [USER_POSTS_POST_VIEW_OPTION_FK]
GO
ALTER TABLE [dbo].[USER_POST_MOODS] DROP CONSTRAINT [USER_POST_MOODS_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POST_MOODS] DROP CONSTRAINT [USER_POST_MOODS_MOODS_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_POST_EXPERTISE] DROP CONSTRAINT [USER_POST_EXPERTISE_USER_POSTS_FK]
GO
ALTER TABLE [dbo].[USER_POST_EXPERTISE] DROP CONSTRAINT [USER_POST_EXPERTISE_EXPERTISE_AREA_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_MOOD_FORDAY] DROP CONSTRAINT [USER_MOOD_FORDAY_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_FOLLOWERS] DROP CONSTRAINT [USER_FOLLOWERS_USER_PROFILE_FKv1]
GO
ALTER TABLE [dbo].[USER_FOLLOWERS] DROP CONSTRAINT [USER_FOLLOWERS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_EXPERTISE] DROP CONSTRAINT [USER_EXPERTISE_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_EXPERTISE] DROP CONSTRAINT [USER_EXPERTISE_EXPERTISE_AREA_MASTER_FK]
GO
ALTER TABLE [dbo].[USER_EMAILS] DROP CONSTRAINT [USER_EMAILS_USER_PROFILE_FKv1]
GO
ALTER TABLE [dbo].[USER_EMAILS] DROP CONSTRAINT [USER_EMAILS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[USER_EMAILS] DROP CONSTRAINT [USER_EMAILS_USER_EMAILS_FK]
GO
ALTER TABLE [dbo].[USER_CHATS] DROP CONSTRAINT [USER_CHATS_USER_PROFILE_FKv1]
GO
ALTER TABLE [dbo].[USER_CHATS] DROP CONSTRAINT [USER_CHATS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[FRIENDS_REQUESTS] DROP CONSTRAINT [FRIENDS_REQUESTS_USER_PROFILE_FKv1]
GO
ALTER TABLE [dbo].[FRIENDS_REQUESTS] DROP CONSTRAINT [FRIENDS_REQUESTS_USER_PROFILE_FK]
GO
ALTER TABLE [dbo].[FORGOT_PWD] DROP CONSTRAINT [FORGOT_PWD_USER_PROFILE_FK]
GO
/****** Object:  Table [dbo].[USER_TYPE]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_TYPE]
GO
/****** Object:  Table [dbo].[USER_TAGS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_TAGS]
GO
/****** Object:  Table [dbo].[USER_SUGGESTION_REMOVE]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_SUGGESTION_REMOVE]
GO
/****** Object:  Table [dbo].[USER_RELATIONSHIP]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_RELATIONSHIP]
GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_PROFILE]
GO
/****** Object:  Table [dbo].[USER_POSTS_TAGS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_POSTS_TAGS]
GO
/****** Object:  Table [dbo].[USER_POSTS_LIKE]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_POSTS_LIKE]
GO
/****** Object:  Table [dbo].[USER_POSTS_DISLIKE]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_POSTS_DISLIKE]
GO
/****** Object:  Table [dbo].[USER_POSTS_COMMENTS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_POSTS_COMMENTS]
GO
/****** Object:  Table [dbo].[USER_POSTS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_POSTS]
GO
/****** Object:  Table [dbo].[USER_POST_MOODS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_POST_MOODS]
GO
/****** Object:  Table [dbo].[USER_POST_EXPERTISE]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_POST_EXPERTISE]
GO
/****** Object:  Table [dbo].[USER_MOOD_FORDAY]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_MOOD_FORDAY]
GO
/****** Object:  Table [dbo].[USER_FOLLOWERS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_FOLLOWERS]
GO
/****** Object:  Table [dbo].[USER_EXPERTISE]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_EXPERTISE]
GO
/****** Object:  Table [dbo].[USER_EMAILS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_EMAILS]
GO
/****** Object:  Table [dbo].[USER_CHATS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[USER_CHATS]
GO
/****** Object:  Table [dbo].[TAGS_MASTER]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[TAGS_MASTER]
GO
/****** Object:  Table [dbo].[SIGNUP_INFO]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[SIGNUP_INFO]
GO
/****** Object:  Table [dbo].[ROLE_MASTER]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[ROLE_MASTER]
GO
/****** Object:  Table [dbo].[POST_VIEW_OPTION]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[POST_VIEW_OPTION]
GO
/****** Object:  Table [dbo].[MOODS_MASTER]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[MOODS_MASTER]
GO
/****** Object:  Table [dbo].[FRIENDS_REQUESTS]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[FRIENDS_REQUESTS]
GO
/****** Object:  Table [dbo].[FORGOT_PWD]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[FORGOT_PWD]
GO
/****** Object:  Table [dbo].[EXPERTISE_AREA_MASTER]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[EXPERTISE_AREA_MASTER]
GO
/****** Object:  Table [dbo].[Conatct_Master]    Script Date: 08-Nov-16 5:29:37 PM ******/
DROP TABLE [dbo].[Conatct_Master]
GO
